<!-- CS350-Project-1/play/index.html -->
{% load index %} <!-- Template Tag to get a list item -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <style>
        .cah-card {
            width: 250px;
            height: 350px;
            border-radius: 10px;
        }

        .cah-card-sm {
            width: 200px;
            height: 280px;
            border-radius: 10px;
        }

        .cah-current-border { 
            border-color: red;
            border-width: thick;
        }

        .cah-other-border { 
            border-color: black; 
            border-width: thin;
        }

        .cah-black-card { background-color: black; }

        .cah-white-card { background-color: white; }

        .inline-div { 
            float: left;
            padding-left: 20px; 
        }

        .clear-inline { clear: both; }

        .round {
            border-radius: 50%;
            height: 1.5em;
            width: 1.5em;
            margin: 10px;
        }

        .round:hover {
            background-color: #8F8F8F;
        }

        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .vertical-center {
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .horizontal-center {
            margin: auto;
            text-align: center;
        }
        
        .quitBtn {
            border: 2px solid black; 
            width: 150px;
            height: 45px;
            border-radius: 8px;
            font-weight: bolder;
        }

    </style>

</head>
<body>

    <!-- LMAO Rater Header -->
    <div class="m-5 mb-2">
        <h1 class="display-3">LMAO Rater</h1>
        <p>Cards Against Humanity Edition</p>
    </div>

    <!-- Black Card, White Card to Rate, and Form -->
    <div class="ms-5">
        <div class="inline-div mt-3">
            <div class="card cah-card cah-black-card">
                <div class="card-body">
                    <p class="card-text text-light center">
                        {{ black_card.CardText }}
                    </p>
                </div>
            </div>
        </div>
        <div class="inline-div mt-3">
            <div class="card cah-card cah-white-card cah-other-border">
                <div class="card-body">
                    <p class="card-text text-dark center">
                        {% if current_card_index == 0 %}
                            {{ white_cards|index:8 }}
                        {% else %}
                            {{ white_cards|index:current_card_index }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="inline-div mt-3 horizontal-center">
            <p class="display-5 text-dark">Round: {{ round }}</p>
            <form method="post" action='/play/{{ round }}/{% if current_card_index == 0 %}True{% else %}False{% endif %}/{{ black_card.pk }}/{% for card in white_cards %}{{ card.pk }}{% if not forloop.last %}_{% endif %}{% endfor %}'>
                {% csrf_token %}
                <p class="inline-div horizontal-center">Rate the white card from 1-10:</p>
                <br/>
                <div class="display-5">
                    <input
                        name="white_card_pk"
                        value="{% if current_card_index == 0 %}{{ white_cards|getPK:8 }}{% else %}{{ white_cards|getPK:current_card_index }}{% endif %}"
                        style="display: none"
                    />
                    <!-- {{ form }} -->
                    <button class="round" type="submit" name="card_rating" value="1">1</button>
                    <button class="round" type="submit" name="card_rating" value="2">2</button>
                    <button class="round" type="submit" name="card_rating" value="3">3</button>
                    <button class="round" type="submit" name="card_rating" value="4">4</button>
                    <button class="round" type="submit" name="card_rating" value="5">5</button>
                    <br/>
                    <button class="round" type="submit" name="card_rating" value="6">6</button>
                    <button class="round" type="submit" name="card_rating" value="7">7</button>
                    <button class="round" type="submit" name="card_rating" value="8">8</button>
                    <button class="round" type="submit" name="card_rating" value="9">9</button>
                    <button class="round" type="submit" name="card_rating" value="10">10</button>
                </div>
            </form>
        </div>
    </div>
    <br class="clear-inline">

    <!-- Other White Cards -->
    <!-- If current_card_index is 0, that means it is the last card in the size of the hand. In this case it would be 8 -->
    <div class="ms-5 mt-4">
        <div class="inline-div mt-3">
            <div class="card cah-card-sm cah-white-card {% if current_card_index == 1 %}cah-current-border{% else %}cah-other-border{% endif %}">
                <div class="card-body">
                    <p class="horizontal-center">Card 1</p>
                    <p class="card-text text-dark center">
                        {{ white_cards.0.CardText }}
                    </p>
                </div>
                <p class="horizontal-center">{% if current_card_index == 0 %}{% get_score_average white_cards.0 black_card %}%{% endif %}</p>
            </div>
        </div>
        <div class="inline-div mt-3">
            <div class="card cah-card-sm cah-white-card {% if current_card_index == 2 %}cah-current-border{% else %}cah-other-border{% endif %}">
                <div class="card-body">
                    <p class="horizontal-center">Card 2</p>
                    <p class="card-text text-dark center">
                        {{ white_cards.1.CardText }}
                    </p>
                </div>
                <p class="horizontal-center">{% if current_card_index == 0 %}{% get_score_average white_cards.1 black_card %}%{% endif %}</p>
            </div>
        </div>
        <div class="inline-div mt-3">
            <div class="card cah-card-sm cah-white-card {% if current_card_index == 3 %}cah-current-border{% else %}cah-other-border{% endif %}">
                <div class="card-body">
                    <p class="horizontal-center">Card 3</p>
                    <p class="card-text text-dark center">
                        {{ white_cards.2.CardText }}
                    </p>
                </div>
                <p class="horizontal-center">{% if current_card_index == 0 %}{% get_score_average white_cards.2 black_card %}%{% endif %}</p>
            </div>
        </div>
        <div class="inline-div mt-3">
            <div class="card cah-card-sm cah-white-card {% if current_card_index == 4 %}cah-current-border{% else %}cah-other-border{% endif %}">
                <div class="card-body">
                    <p class="horizontal-center">Card 4</p>
                    <p class="card-text text-dar center">
                        {{ white_cards.3.CardText }}
                    </p>
                </div>
                <p class="horizontal-center">{% if current_card_index == 0 %}{% get_score_average white_cards.3 black_card %}%{% endif %}</p>
            </div>
        </div>
        <div class="inline-div mt-3">
            <div class="card cah-card-sm cah-white-card {% if current_card_index == 5 %}cah-current-border{% else %}cah-other-border{% endif %}">
                <div class="card-body">
                    <p class="horizontal-center">Card 5</p>
                    <p class="card-text text-dark center">
                        {{ white_cards.4.CardText }}
                    </p>
                </div>
                <p class="horizontal-center">{% if current_card_index == 0 %}{% get_score_average white_cards.4 black_card %}%{% endif %}</p>
            </div>
        </div>
        <div class="inline-div mt-3">
            <div class="card cah-card-sm cah-white-card {% if current_card_index == 6 %}cah-current-border{% else %}cah-other-border{% endif %}">
                <div class="card-body">
                    <p class="horizontal-center">Card 6</p>
                    <p class="card-text text-dark center">
                        {{ white_cards.5.CardText }}
                    </p>
                </div>
                <p class="horizontal-center">{% if current_card_index == 0 %}{% get_score_average white_cards.5 black_card %}%{% endif %}</p>
            </div>
        </div>
        <div class="inline-div mt-3">
            <div class="card cah-card-sm cah-white-card {% if current_card_index == 7 %}cah-current-border{% else %}cah-other-border{% endif %}">
                <div class="card-body">
                    <p class="horizontal-center">Card 7</p>
                    <p class="card-text text-dark center">
                        {{ white_cards.6.CardText }}
                    </p>
                </div>
                <p class="horizontal-center">{% if current_card_index == 0 %}{% get_score_average white_cards.6 black_card %}%{% endif %}</p>
            </div>
        </div>
        <div class="inline-div mt-3 mb-3">
            <div class="card cah-card-sm cah-white-card {% if current_card_index == 0 %}cah-current-border{% else %}cah-other-border{% endif %}">
                <div class="card-body">
                    <p class="horizontal-center">Card 8</p>
                    <p class="card-text text-dark center">
                        {{ white_cards.7.CardText }}
                    </p>
                </div>
                <p class="horizontal-center">{% if current_card_index == 0 %}{% get_score_average white_cards.7 black_card %}%{% endif %}</p>
            </div>
        </div>
    </div>

    <br class="clear-inline">
    <div class="horizontal-center" style="margin: 50px;">
        {% if current_card_index == 0 %}
        <a href="/end/"> <button type="button" class="btn btn-outline-dark quitBtn">Quit</button> </a>
        <div style="float: right;">
            <span>Submit</span>
            <button type="button" class="btn btn-outline-dark quitBtn">Test</button>
        </div>

        {%else%}
        <a href="/end/"> <button type="button" class="btn btn-outline-dark quitBtn">Quit</button> </a>

        {% endif %}

    </div>

</body>
</html>