<!-- CS350-Project-1/play/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <style>
        .cah-card {
            width: 250px;
            height: 350px;
            border-radius: 10px;
        }

        .cah-card-sm {
            width: 200px;
            height: 280px;
            border-radius: 10px;
        }

        .cah-current-border { 
            border-color: red;
            border-width: thick;
        }

        .cah-other-border { 
            border-color: black; 
            border-width: thin;
        }

        .cah-black-card { background-color: black; }

        .cah-white-card { background-color: white; }

        .inline-div { 
            float: left;
            padding-left: 20px; 
        }

        .clear-inline { clear: both; }

    </style>

</head>
<body>

    <!-- LMAO Rater Header -->
    <div class="m-5 mb-2">
        <h1 class="display-3">LMAO Rater</h1>
        <p>Cards Against Humanity Edition</p>
    </div>

    <!-- Black Card, White Card to Rate, and Form -->
    <div class="ms-5">
        <div class="inline-div mt-3">
            <div class="card cah-card cah-black-card">
                <div class="card-body">
                    <p class="card-text text-light">
                        Black Card Text
                    </p>
                </div>
            </div>
        </div>
        <div class="inline-div mt-3">
            <div class="card cah-card cah-white-card cah-other-border">
                <div class="card-body">
                    <p class="card-text text-dark">
                        White Card to Rate Text
                    </p>
                </div>
            </div>
        </div>
        <div class="inline-div mt-3">
            <p class="display-6 text-dark">Round: {{ round }}</p>
            <form method="post" action='/play/{{ round }}/'>
                {% csrf_token %}
                <div class="inline-div">{{ form }}</div>
                <div class="inline-div">
                    <button type="submit" name="rate" class="btn btn-dark btn-small">Rate Card</button>
                    <a href="/end/" class='btn btn-dark'>Quit</a>
                </div>
            </form>
        </div>
    </div>
    <br class="clear-inline">
    <!-- Other White Cards -->
    <div class="ms-5 mt-4">
        <div class="inline-div mt-3">
            <div class="card cah-card-sm cah-white-card {% if current_card_index == 1 %}cah-current-border{% else %}cah-other-border{% endif %}">
                <div class="card-body">
                    <p class="card-text text-dark">
                        White Card Text
                    </p>
                </div>
            </div>
        </div>
        <div class="inline-div mt-3">
            <div class="card cah-card-sm cah-white-card {% if current_card_index == 2 %}cah-current-border{% else %}cah-other-border{% endif %}">
                <div class="card-body">
                    <p class="card-text text-dark">
                        White Card Text
                    </p>
                </div>
            </div>
        </div>
        <div class="inline-div mt-3">
            <div class="card cah-card-sm cah-white-card {% if current_card_index == 3 %}cah-current-border{% else %}cah-other-border{% endif %}">
                <div class="card-body">
                    <p class="card-text text-dark">
                        White Card Text
                    </p>
                </div>
            </div>
        </div>
        <div class="inline-div mt-3">
            <div class="card cah-card-sm cah-white-card {% if current_card_index == 4 %}cah-current-border{% else %}cah-other-border{% endif %}">
                <div class="card-body">
                    <p class="card-text text-dark">
                        White Card Text
                    </p>
                </div>
            </div>
        </div>
        <div class="inline-div mt-3">
            <div class="card cah-card-sm cah-white-card {% if current_card_index == 5 %}cah-current-border{% else %}cah-other-border{% endif %}">
                <div class="card-body">
                    <p class="card-text text-dark">
                        White Card Text
                    </p>
                </div>
            </div>
        </div>
        <div class="inline-div mt-3">
            <div class="card cah-card-sm cah-white-card {% if current_card_index == 6 %}cah-current-border{% else %}cah-other-border{% endif %}">
                <div class="card-body">
                    <p class="card-text text-dark">
                        White Card Text
                    </p>
                </div>
            </div>
        </div>
        <div class="inline-div mt-3">
            <div class="card cah-card-sm cah-white-card {% if current_card_index == 7 %}cah-current-border{% else %}cah-other-border{% endif %}">
                <div class="card-body">
                    <p class="card-text text-dark">
                        White Card Text
                    </p>
                </div>
            </div>
        </div>
        <div class="inline-div mt-3 mb-3">
            <div class="card cah-card-sm cah-white-card {% if current_card_index == 0 %}cah-current-border{% else %}cah-other-border{% endif %}">
                <div class="card-body">
                    <p class="card-text text-dark">
                        White Card Text
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>